.logout {
    position: fixed;
    top: 20px; 
    right: 20px; 
    font-size: 20px;
    color: rgb(3, 3, 3);
}

.Benutzername {
    width: 250px;
    font-size: 20px;
    margin-bottom: 7px;
}

.Passwort {
    width: 250px; 
    font-size: 20px;
    margin-bottom: 7px
}

.Login {
    font-size: 16px;
    padding: 10px 20px;
    background: rgb(30, 64, 173);
}

.Daten {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.Willkommen {
    font-size: 30px;
    margin-bottom: 7px;
}

.Home {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
}

.Art {
    position: fixed;
}

.Speichern {
    position: fixed;
    bottom: 350px;
    left: 900px; 
}

.Datum {
    font-size: 30px;
    left: 40%; 
    position: fixed;
    top:20px
}


.TätigkeitenDaten {
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    left: 35%; 
}

.RegBenutzername {
    font-size: 15px;
}

.RegPasswort {
    font-size: 15px;
    margin-top: 5px;
}

.RegText {
    font-size: 40px;
    color: black;
}

.RegButton {
    margin-top: 5px;
    background: blue;
}

.LogRegistrierung {
    margin-top: 5px;
    color: black;
}

.ZeitZeit {
    position: fixed;
    left: 10px; 
}

.ZeitArt {
    position: fixed;
    left: 30px;
}

.ZeitDatePicker {
    position: fixed;
    left: 500px;
}

.Addiere1h {
    position: fixed;
    left: 50px;
    top: 450px;
}

.Subtrahiere1h {
    position: fixed;
    left: 120px;
    top: 450px; 
}

.ZeitSpeichern {
    position: fixed;
    right: 10px;
}