.logout {
    position: fixed;
    top: 20px; 
    right: 20px; 
    font-size: 20px;
    color: aliceblue;
}

.Benutzername {
    width: 250px;
    font-size: 20px;
    margin-bottom: 7px;
}

.Passwort {
    width: 250px; 
    font-size: 20px;
    margin-bottom: 7px
}

.Login {
    font-size: 16px;
    padding: 10px 20px;
    background: rgb(30, 64, 173);
}

.Daten {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
}

.Willkommen {
    font-size: 30px;
    margin-bottom: 7px;
}

.Home {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
}

.Art {
    position: fixed;
}

.Speichern {
    position: fixed;
    bottom: 350px;
    left: 900px; 
}

.segment-colors {
    --color-1: rgba(255, 99, 132, 0.6);
    --color-2: rgba(54, 162, 235, 0.6);
    --color-3: rgba(255, 206, 86, 0.6);
    --color-4: rgba(75, 192, 192, 0.6);
    --color-5: rgba(153, 102, 255, 0.6);
  }