.logout {
    position: fixed;
    top: 20px; 
    right: 20px; 
    font-size: 20px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-style: solid;
    padding: 10px 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}

.Benutzername {
    width: 250px;
    font-size: 20px;
    margin-bottom: 7px;
}

.Passwort {
    width: 250px; 
    font-size: 20px;
    margin-bottom: 7px
}

.Login {
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.Daten {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px; 
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-style: solid;
    padding: 10px 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    
}

.Willkommen {
    font-size: 50px;
    margin-bottom: 7px;
}

.Home {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
}

.Art {
    position: fixed;
}

.Speichern {
    position: fixed;
    bottom: 350px;
    left: 900px; 
}

.Datum {
    font-size: 30px;
    left: 40%; 
    position:absolute ;
    top:15px;
}


.TätigkeitenDaten {
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    left: 35%; 
}

.RegBenutzername {
    margin-top: 100px;
    font-size: 15px;
}

.RegPasswort {
    font-size: 15px;
    margin-top: 5px;
    height: 15px;
    
}

.RegText {
    font-size: 50px;
}

.RegButton {
    margin-top: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.LogRegistrierung {
    margin-top: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.ZeitZeit {
    position: fixed;
    left: 15%; 
}

.ZeitArt {
    position: fixed;
    left: 35%;
    top: -79px;
}

.ZeitDatePicker {
    position: fixed;
    left: -37%;
}

.Addiere1h {
    position: fixed;
    left: 18%;
    top: 50%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.Subtrahiere1h {
    position: fixed;
    left: 24%;
    top: 50%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2); 
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.ZeitSpeichern {
    position: fixed;
    right: 50.5%;
    top: 50%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.ZeitTätigkeiten {
    position: fixed;
    right: 21%;
    top: 38.6%;
}

.ZeitArtText {
    position: fixed;
    top: -80px;
    left: 34%; 
}

.ZeitUeberschrift {
    position: fixed;
    top: 1%;
    left: 10%;
    text-align: center;
}

.ZeitLoeschen {
    position: fixed;
    top: 50%;
    left: 50%; 
    box-shadow: 2px 2px 2px rgb(0, 0, 0,.2);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.NASpeichern {
    color: aliceblue;
    background-color:royalblue;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.StartResetSpeichern {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.DatenVorherigerTag {
    position: fixed;
    right: 20%;
    top: 5%;
}

.DatenNaechsterTag {
    position: fixed;
    right: -20%;
    top: 5%;
}

.DatenTortendiagrammContainer {
    position: relative;
    left: 34%;

}

.DatenTortendiagrammText {
    position: relative;
    left: -34%;

}

.ZeitEingabe {
    position: fixed;
    left: 15%;
    top: 63%;
}

@media (prefers-color-scheme: dark) {

}